@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Hey. I'm Jonathan.</h1>
    <p>Hokie. Computer Science Student. Machnine Learning Enthusiast. Hobbyist Photographer.</p>
</div>

