@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    if (SignInManager.IsSignedIn(User))
    {
        <h1 class="text-danger text-center">ADMINISTRATOR</h1>
        <form class="form-inline justify-content-center" asp-controller="Admin" asp-action="Logout">
            <button type="submit" class="nav-link btn btn-link text-info">Logout</button>
        </form>
    }
}

